// LESS Variables

@background: #fff; /* Background color */
@bg-light: #f5f5f5; /* Background color */

@link: #19BC9C; /* Link text color */
@hover: #444135; /* Link text color(hover) */
@visited: @link; /* Link text color(hover) */

@border: #ddd; /* Border color */

@btn: #fff; /* button background */
@btn-hover: #f5f5f5; /* button hover backgroud */